.env
job_description.pdf
cvs/*
!cvs/
# Ignorar todos los cvs de todos los sets de todos los casos
**/cvs/**

# Ignorar todos los job_description.pdf
**/job_description.pdf

# No ignorar los output-json ni los prompt.txt (los queremos subir)
!**/output-*.json
!**/prompt.txt
# Archivos de sistema/mac
.DS_Store

# Archivos de compilación de Python
__pycache__/
*.pyc
